@{
    ViewBag.Title = "Acerca de TuCalculadora© Te Apuesto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />
<p>TuCalculadora&copy; Te Apuesto te ayudará a revisar los eventos y encontrar tus jugadas al instante.</p>
<p>Todas las cuotas se actualizan en linea desde el sitio web de <a href="https://www.intralot.com.pe/intralot/docs/teapuesto/edicion_regular/TA-ED-Regular.pdf" target="_blank">Intralot</a></p>
