

@using Newtonsoft.Json
@using System.Linq
@using Microsoft.AspNet.Identity

<style>

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        cursor: pointer;
    }
        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.1em;
        }
            .rating > span:hover:before,
            .rating > span:hover ~ span:before {
                content: "\f005";
                color: gold;
            }

</style>
@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p class="text-md-left w-responsive mx-auto mb-5">
    Si tienes alguna sugerencia o comentario, escribenos!, apreciamos mucho tus comentarios y nos ayudan a mejorar.
</p>
<br />
<div class="row">

    <div class="col-md-9 mb-md-0 mb-5">
        <div id="contact-form">

            <!--Grid row-->
            <div class="row">
                <div class="col-md-12">

                    <div class="md-form">
                        <label for="message">Comentario</label>
                        <textarea type="text" id="txtMensaje" name="txtMensaje" rows="4" class="form-control md-textarea"></textarea>
                    </div>

                </div>
                <div class="col-md-12">
                    <div>

                        <div class="rating pull-left" style="padding-top: 15px;">

                            <span id="rate5" onclick="evalRate(this);" class="fa fa-star fa-2x"></span>
                            <span id="rate4" onclick="evalRate(this);" class="fa fa-star fa-2x"></span>
                            <span id="rate3" onclick="evalRate(this);" class="fa fa-star fa-2x"></span>
                            <span id="rate2" onclick="evalRate(this);" class="fa fa-star fa-2x"></span>
                            <span id="rate1" onclick="evalRate(this);" class="fa fa-star fa-2x"></span>
                            <span class="hidden" id="lblStars">0</span>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        <br />
        <div class="text-md-left">
            <a class="btn btn-default" onclick="enviarComentario();">Enviar</a>
        </div>
        <div class="status"></div>
        <br />
    </div>

    <!--Grid column-->

</div>
<address>

    <abbr title="Phone">Telefono:</abbr>
    +051 966 918 363<br />
    Lima. PE<br />
</address>

<address>
    <strong>Soporte:</strong>   <a href="miguel.gargurevich@gmail.com">miguel.gargurevich@gmail.com</a><br />
</address>

<script>
    function enviarComentario() {
        var mensaje = $("#txtMensaje").val();
        var rate = document.getElementById("lblStars").innerHTML;

        if (mensaje == "") {
            alert("Ingrese un comentario");
            return false;
        }
        var dataObject = JSON.stringify({
            'Mensaje': mensaje,
            'Puntaje': rate,
        });

        $.ajax({
            url: '/Home/EnviarComentario/',
            data: dataObject,
            contentType: 'application/json',
            type: 'POST',
            success: function (data) {
                if (data == "true") {
                    $("#txtMensaje").val("");
                    alert("Su comentario se envió con éxito.");

                    var myurl = '/Home/Index/';
                    window.location.href = myurl;
                }
                else {
                    alert("Result: " + data);
                }
            }
        });

    }

    function evalRate(obj) {
        const starTotal = 5;
        var id = obj.id;
        var index = Number(id.replace('rate', ''));

        for (var i = 1; i <= index; i++) {
            var myid = 'rate' + i;
            var rate = document.getElementById(myid);
            rate.style.color = 'gold';
        }

        if (index < starTotal) {
            for (var i = index+1; i <= starTotal; i++) {
                var myid = 'rate' + i;
                var rate = document.getElementById(myid);
                rate.style.removeProperty("color");
            }
        }

        document.getElementById("lblStars").innerHTML = index;
            
    }


</script>